/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Default styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #005f73;
    background-color: #f0f0f0;
}

/* Header */
header {
    background-color: #ee9b00;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}

.logo {
    max-width: 250px; 
}

.logo-img {
    max-width: 100%;
    height: auto;
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin-right: 20px; 
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #005f73;
}

.mobile-menu {
    display: none;
}

.mobile-links {
    display: none;
    list-style-type: none;
    background-color: #ee9b00;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1100; 
}

.mobile-links.active {
    display: block;
}

.mobile-links li {
    margin-bottom: 10px;
}

.mobile-links a {
    text-decoration: none;
    color: #005f73;
}

.menu-icon {
    display: block; 
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    left: 20px; 
    top: 50%; 
    transform: translateY(-50%);
    z-index: 1100; 
}

.menu-bar {
    width: 100%;
    height: 3px;
    background-color: #005f73;
    margin: 5px 0;
    transition: transform 0.3s ease;
}

.menu-icon.active .menu-bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
}

.menu-icon.active .menu-bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.active .menu-bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
}

/* Main Content */
#app {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

#citySelect,
#notesInput,
#saveButton {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #262626;
    text-align: left;
}

th {
    background-color: #ee9b00;
    font-weight: bold;
}

tbody td {
    font-weight: normal;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .mobile-menu {
        display: block;
        position: relative; 
    }

    .menu-icon {
        position: absolute;
        left: 20px;  
        top: 50%;  
        transform: translateY(-50%);
        z-index: 1100;  
    }

    .logo {
        max-width: 15%;  
    }

    .mobile-links {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        display: none;
        list-style-type: none;
        background-color: #ee9b00;
        padding: 10px;
        z-index: 1100;  
    }

    .mobile-links.active {
        display: block;
    }

    .mobile-links li {
        margin-bottom: 10px;
    }

    .mobile-links a {
        text-decoration: none;
        color: #005f73;
    }
}
